---

---

<section class="mt-5 flex">
  <div class="w-25 flex flex-col items-center">
    <img class="w-10" src="/assets/aboutMe.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Sobre Mí</p>
  </div>

  <div class="w-25 flex flex-col items-center">
    <img class="w-10" src="/assets/folder.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Cosas</p>
  </div>
</section>
