---
import WindowModal from "./WindowModal.astro";
---

<section
  class="mt-5 flex flex-col flex-wrap max-h-[90vh] gap-4 max-w-6 pl-6 text-center"
>
  <button
    class="max-w-25 flex flex-col items-center cursor-pointer"
    data-open="about-window"
  >
    <img class="w-12" src="/assets/aboutMeIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Sobre Mí</p>
  </button>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/folderIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Cosas</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/certsIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Certificaciones</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/projectsIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Proyectos</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/terminalIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Terminal</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/pdfIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">CV - Iván Duarte Herrera</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/emailIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">DH-MAIL</p>
  </div>
</section>

<WindowModal id="about-window" title="Sobre Mí">
  <p class="text-center">TE AMO BUBU</p>

  <img src="../../public/assets/bubududu.png" alt="" class="mx-auto block" />
</WindowModal>

<WindowModal id="projects-window" title="Mis Proyectos">
  <p>Lista de proyectos...</p>
</WindowModal>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelectorAll("[data-open]").forEach((btn) => {
      btn.addEventListener("click", (e) => {
        const target = (e.target as HTMLElement)
          .closest("[data-open]")
          ?.getAttribute("data-open");
        const modal = document.getElementById(target!);
        modal?.classList.remove("hidden");
        modal?.classList.add("flex");
      });
    });
  });
</script>
