---

---

<section
  class="mt-5 flex flex-col flex-wrap max-h-[90vh] gap-4 max-w-6 pl-6 text-center"
>
  <div class="max-w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/aboutMeIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Sobre Mí</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/folderIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Cosas</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/certsIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Certificaciones</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/projectsIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Proyectos</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/terminalIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Terminal</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/pdfIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">CV - Iván Duarte Herrera</p>
  </div>
  <div class="w-25 flex flex-col items-center">
    <img class="w-12" src="/assets/emailIcon.svg" alt="meIcon" />
    <p class="bg-amber-50 p-1">Mis Cosas</p>
  </div>
</section>
